@charset "utf-8";

#muur{
    width: 500px;
    height: 300px;
    background-color: #d9d9d9;
}
#steen1 {
    background-color: rgb(205, 84, 75);;
    width: 100px;
    height: 25px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
#steen2 {
    background-color: rgb(218, 134, 122);
    width: 100px;
    height: 25px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
}
#steen3 {
    background-color: rgb(218, 134, 122);
    width: 100px;
    height: 25px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
}
#steen4 {
    background-color: rgb(218, 134, 122);
    width: 100px;
    height: 25px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
}
#steen5 {
    background-color: rgb(205, 84, 75);;
    width: 80px;
    height: 25px;
    display: inline-block;
    margin-bottom: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.rij{
    display: flex;
}
#steen6 {
    background-color: rgb(218, 134, 122);
    width: 80px;
    height: 25px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
}
#steen7 {
    background-color: rgb(218, 134, 122);
    width: 100px;
    height: 25px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
}
#steen8 {
    background-color: rgb(218, 134, 122);
    width: 100px;
    height: 25px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
}
#steen9 {
    background-color: rgb(218, 134, 122);
    width: 100px;
    height: 25px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
}
#steen10 {
    background-color: rgb(218, 134, 122);
    width: 100px;
    height: 25px;
    display: inline-block;
    margin-bottom: 5px;
}
/* 3-4 rij */
#steen11 {
    background-color: rgb(205, 84, 75);;
    width: 100px;
    height: 25px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
#steen12 {
    background-color: rgb(218, 134, 122);
    width: 100px;
    height: 25px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
}
#steen13 {
    background-color: rgb(218, 134, 122);
    width: 100px;
    height: 25px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
}
#steen14 {
    background-color: rgb(218, 134, 122);
    width: 100px;
    height: 25px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
}
#steen15 {
    background-color: rgb(205, 84, 75);
    width: 80px;
    height: 25px;
    display: inline-block;
    margin-bottom: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
#steen16 {
    background-color: rgb(218, 134, 122);
    width: 80px;
    height: 25px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
}
#steen17 {
    background-color: rgb(218, 134, 122);
    width: 100px;
    height: 25px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
}
#steen18 {
    background-color: rgb(218, 134, 122);
    width: 100px;
    height: 25px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
}
#steen19 {
    background-color: rgb(218, 134, 122);
    width: 100px;
    height: 25px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
}
#steen20 {
    background-color: rgb(218, 134, 122);
    width: 100px;
    height: 25px;
    display: inline-block;
    margin-bottom: 5px;
}
/* 5-6 rij */
#steen21 {
    background-color: rgb(205, 84, 75);;
    width: 100px;
    height: 25px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
#steen22 {
    background-color: rgb(218, 134, 122);
    width: 100px;
    height: 25px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
}
#steen23 {
    background-color: rgb(218, 134, 122);
    width: 100px;
    height: 25px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
}
#steen24 {
    background-color: rgb(218, 134, 122);
    width: 100px;
    height: 25px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
}
#steen25 {
    background-color: rgb(205, 84, 75);;
    width: 80px;
    height: 25px;
    display: inline-block;
    margin-bottom: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
#steen26 {
    background-color: rgb(218, 134, 122);
    width: 80px;
    height: 25px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
}
#steen27 {
    background-color: rgb(218, 134, 122);
    width: 100px;
    height: 25px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
}
#steen28 {
    background-color: rgb(218, 134, 122);
    width: 100px;
    height: 25px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
}
#steen29 {
    background-color: rgb(218, 134, 122);
    width: 100px;
    height: 25px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
}
#steen30 {
    background-color: rgb(218, 134, 122);
    width: 100px;
    height: 25px;
    display: inline-block;
    margin-bottom: 5px;
}
/* 7-8 rij */
#steen31 {
    background-color: rgb(205, 84, 75);;
    width: 100px;
    height: 25px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
#steen32 {
    background-color: rgb(218, 134, 122);
    width: 100px;
    height: 25px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
}
#steen33 {
    background-color: rgb(218, 134, 122);
    width: 100px;
    height: 25px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
}
#steen34 {
    background-color: rgb(218, 134, 122);
    width: 100px;
    height: 25px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
}
#steen35 {
    background-color: rgb(205, 84, 75);;
    width: 80px;
    height: 25px;
    display: inline-block;
    margin-bottom: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
#steen36 {
    background-color: rgb(218, 134, 122);
    width: 80px;
    height: 25px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
}
#steen37 {
    background-color: rgb(218, 134, 122);
    width: 100px;
    height: 25px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
}
#steen38 {
    background-color: rgb(218, 134, 122);
    width: 100px;
    height: 25px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
}
#steen39 {
    background-color: rgb(218, 134, 122);
    width: 100px;
    height: 25px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
}
#steen40 {
    background-color: rgb(218, 134, 122);
    width: 100px;
    height: 25px;
    display: inline-block;
    margin-bottom: 5px;
}
/* 9-10 rij */
#steen41 {
    background-color: rgb(205, 84, 75);;
    width: 100px;
    height: 25px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
#steen42 {
    background-color: rgb(218, 134, 122);
    width: 100px;
    height: 25px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
}
#steen43 {
    background-color: rgb(218, 134, 122);
    width: 100px;
    height: 25px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
}
#steen44 {
    background-color: rgb(218, 134, 122);
    width: 100px;
    height: 25px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
}
#steen45 {
    background-color: rgb(205, 84, 75);;
    width: 80px;
    height: 25px;
    display: inline-block;
    margin-bottom: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
#steen46 {
    background-color: rgb(205, 84, 75);;
    width: 80px;
    height: 25px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
#steen47 {
    background-color: rgb(205, 84, 75);;
    width: 100px;
    height: 25px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}   
#steen48 {
    background-color: rgb(205, 84, 75);;
    width: 100px;
    height: 25px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
#steen49 {
    background-color: rgb(205, 84, 75);;
    width: 100px;
    height: 25px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
#steen50 {
    background-color: rgb(205, 84, 75);
    width: 100px;
    height: 25px;
    display: inline-block;
    margin-bottom: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}




