@charset "utf-8";

#muur{
    width: 500px;
    height: 295 px;
    background-color: #d9d9d9;
}
.steen{
    background-color: rgb(218, 134, 122);
    height: 25px;
    display: inline-block;
    width: 100px;
    margin-right: 5px;
}
.smaller{
    width: 80px;
}
.rij {
    display: flex;
    margin-bottom: 5px;
}
.geen_cement_rechts{
    margin-right: 0px;
}
.onzichtbaar{
    background-color: #d9d9d9 ;
}
.zijkant{
    background-color: rgb(136, 62, 62);
}